@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

:root {
  --paymaryColor: #ff4655;
  --whiteColor: #fff;
  --paymary_background_color: #121212;
  --secondary_background_color: #191919;
  --Barlow: "Barlow", sans-serif;
  --Oswald: "Oswald", sans-serif;
}

/* ================= common css stat ================ */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
div,
img,
li {
  margin: 0;
  padding: 0;
}
/* ================= common css end ================ */

/* =============== nevber part html start =============== */
#navbar_part {
  background-color: var(--paymary_background_color);
}

#navbar_part .coustom_navbar ul li a {
  color: var(--whiteColor);
  font-family: var(--Oswald);
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
}
#navbar_part .menu_icons a {
  color: var(--whiteColor);
  font-family: var(--Oswald);
  font-size: 14px;
  font-weight: 400;
}
#navbar_part .menu_icons {
  column-gap: 25px;
  align-items: center;
}
#navbar_part .menu_icons a i {
  margin-right: 7px;
}
/* =============== nevber part html end =============== */
/* =============== banner part html start =============== */
#banner_part {
  background: url(../imgs/banner\ 1.png);
  background-position: center;
  background-size: cover;
  height: 109vh;
  padding: 280px 0 108px;
}
#banner_part .banner_text {
  color: #fff;
}
#banner_part .banner_text h3 {
  color: var(--whiteColor);
  font-family: var(--Oswald);
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 2.7px;
}
#banner_part .banner_text h1 {
  color: var(--whiteColor);
  font-family: var(--Oswald);
  font-size: 53px;
  font-weight: 600;
  position: relative;
}
#banner_part .banner_text h1::before {
  position: absolute;
  content: "";
  left: 83%;
  bottom: 12%;
  width: 90px;
  height: 4px;
  background-color: var(--whiteColor);
}
/* =============== banner part html end =============== */
